# -------------------------------------
# PostgreSQL Database Configuration
# -------------------------------------
# This is the Data Source Name (DSN) for connecting to your PostgreSQL database.
# If running via Docker Compose, 'postgresql' is typically the service name of the database container.
DATABASE_DSN=postgres://admin:password@postgresql:5432/db_name?sslmode=disable